* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    display: flex;
    margin: 0;
    height: 10%;
    flex-direction: column;
}

.git {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
}

.git img {
    width: 64px;
    margin-left: 15px;
}

.git p {
    display: flex;
    line-height: 64px;
    font-size: 105%;
}

body {
    font-size: 30px;
    background-color: #e1d9ce;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.wrapper {
    display: flex;
    padding: 15px;
    align-items: center;
    margin: auto;
    text-align: center;
    position: relative;
    min-height: 100%;
}

.inner__container {
    width: 100%;
    height: 100%;
}

.inner__container .calc {
    margin-top: 25px;
    cursor: pointer;
    border-radius: 15px;
    border-color: bisque;
    width: 200px;
    background-color: rgba(252, 251, 237, 0.545);
    font-size: 100%;
    text-align: center;
}

.var {
    margin: auto;
}

.variables,
.dificult,
.expression {
    padding: 5px 10px;
    border-radius: 15px;
    border-color: bisque;
    background-color: rgba(255, 250, 200, 0.271);
    font-size: 100%;
}

.title {
    margin-bottom: 2px;
    margin: 25px 0 15px 0;
}

.subtitle {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -10px;
}

.res {
    margin-top: 35px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subtitle__res {
    margin: auto;
}

.copy_paste__btn {
    margin: auto;
    height: 24px;
    width: 24px;
    vertical-align: text-top;
    margin-left: 12px;
}

.res__data {
    font-size: 100%;
    text-shadow: none !important;
    font-weight: bold;
    border: none;
    background-color: #e1d9ce;
    background: transparent;
    text-align: center;
    margin-top: 25px;
    outline: none;
}

.res__item {
    margin: 0;
}

.menu_wrapper {
    width: 100%;
    background: linear-gradient(to right, #756a61, #e1d9ce);
    margin: 0;
    height: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}

.menu {
    width: 80%;
    margin: 0 auto 45px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu_item {
    margin: 22px 15px;
    height: 10%;
    color: rgba(0, 0, 0, 0.66);
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.menu_item:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -33px;
    width: 0;
    height: 4px;
    background-color: rgba(225, 217, 206, 0.72);
    transition: width 0.5s;
}

.menu_item:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -33px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.66);
    transition: width 0.5s;
}

.owl {
    margin: auto;
    height: 64px;
    width: 64px;
    display: flex;
}

.owl_img {
    height: 64px;
    width: 64px;
}

table {
    display: flex;
    flex-direction: column;
    width: max-content;
    text-align: center;
    align-items: center;
    margin: auto;
}

.open_btn {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.37));
}

@media (max-width: 1024px) {
    body {
        font-size: 25px;
    }

    .container button {
        padding: 5px 10px;
    }

    .variables,
    .dificult,
    .expression {
        padding: 10px 15px;
    }

    .menu_item:after {
        content: "";
        display: none;
    }

    .menu_item:hover:after {
        content: "";
        display: none;
    }
}

footer {
    text-align: right;
    gap: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

footer p {
    font-size: 70%;
    opacity: 0.6;
}

@media (max-width: 768px) {
    .menu_wrapper {
        flex-direction: column;
        justify-content: space-between;
    }

    .owl {
        position: fixed;
        width: 64px;
        height: 64px;
        margin: 5px auto 5px 100%;
        left: -86px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        display: flex;
        position: absolute;
        transform: translateX(-100%);
        background-color: #e1d9ce;
        z-index: 1;
        height: 100vh;
    }

    .open_btn {
        position: fixed;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin: 5px 100% 5px 15px;
        z-index: 2;
    }

    .menu_item {
        margin: 0 auto;
    }

    .menu_item:first-child {
        margin-top: 30vh;
    }
}

@media (max-width: 390px) {
    body {
        font-size: 20px;
    }

    .subtitle {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 15px;
    }

    .subtitle {
        font-size: 9px;
    }
}

@media (max-width: 423px) {
    .var,
    .res p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 24px;
    }

    .res img {
        margin: 0 auto;
    }

    .copy_paste__btn {
        margin: 15px auto;
    }
}

@media (max-width: 255px) {
    body {
        font-size: 12px;
    }

    .subtitle {
        font-size: 7px;
    }
}